Server/src/main/resources/xsd/ResponseSendMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="responseSendMessage" type="responseSendMessage"/>

  <xs:complexType name="responseSendMessage">
    <xs:sequence>
      <xs:element name="msgId" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:byte" use="required"/>
    <xs:attribute name="request" type="xs:byte" use="required"/>
    <xs:attribute name="errorMsg" type="xs:string"/>
  </xs:complexType>
</xs:schema>

